@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: rgb(16, 48, 8);
    --secondary-color: red;
    --primary-font: "Cormorant Garamond", 'Times New Roman', Times, serif;
    --secondary-font: "Roboto", Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.15s ease;
    font-family: var(--secondary-font);
    color: white;
}

body {
    background-color: var(--primary-color);
    background-image: url(green-felt-bg.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

/* ===== Start Screen ===== */

#start-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
}

#start-screen h1 {
    font-family: var(--primary-font);
    font-size: 3rem;
}

#start-game-btn {
    background-color: transparent;
    padding: 10px 2rem;
    border-radius: 100vmax;
    border: 2px solid white;
    font-size: 1.5rem;
    font-weight: 300;
    cursor: pointer;
}

#start-game-btn:hover {
    background-color: white;
    color: var(--primary-color);
    font-weight: 800;
}

/* ===== Main Screen ====== */

main {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

/* no stamina */

#no-stamina-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: brightness(0.4);
    align-items: center;
    justify-content: center;
    z-index: 100;
    opacity: 0;
    font-size: 1rem;
}

#no-stamina-overlay.no-stamina {
    animation: fadeIn 0.2s ease forwards;
    display: flex;
}

#no-stamina-overlay h2 {
    color: white;
    font-weight: 600;
    text-align: center;
    text-wrap: pretty;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        font-size: 1rem;
    }

    to {
        opacity: 1;
        font-size: 2rem;
    }
}

/* ===== Data container ===== */

.data-container {
    height: fit-content;
    width: 16rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px solid white;
    position: absolute;
    top: 2rem;
    border-radius: 2rem;
    z-index: 200;
    background-color: var(--primary-color);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

}

.top-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.top-wrapper:nth-child(1) {
    border-right: 1px solid white;
}

.top-wrapper:nth-child(2) {
    border-left: 1px solid white;
}

h3 {
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.wrapper {
    color: white;
    font-size: 2rem;
    font-weight: 400;
}

/* stamina bar */

.stamina-container {
    border-top: 2px solid white;
    width: 100%;
    padding: 1rem;
}

#stamina-wrapper {
    width: 100%;
    height: 2rem;
    background-color: transparent;
    outline: 2px solid white;
    border-radius: 100vmax;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

#stamina-label {
    z-index: 100;
    font-weight: 500;
    color: white;
}

#stamina-label.flash {
    animation: flash 0.75s ease infinite;
}

@keyframes flash {
    0%, 100% {
        color: white;
    }

    50% {
        color: red;
    }
}


#stamina-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    border-radius: inherit;
    background-color: rgb(57, 129, 57);
    width: 100%;
    transition: background-color 0.3s ease, width 0.1s linear;
}

/* ===== time and score animation ===== */

.wrapper.scale {
    animation: scale 0.2s ease forwards;
}

@keyframes scale {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
        font-weight: 600;
    }

    to {
        transform: scale(1);
    }
}

/* ===== Poker msg container */

#poker-msg-container {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12rem;
    z-index: 100;
    width: 16rem;
    padding: 10px 0;
    border-radius: 1rem;
    background-color: red;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    font-weight: 600;

}

#poker-msg-container.appear {
    display: flex;
    animation: appear 1s ease forwards;
}

@keyframes appear {
    0%, 100% {
        transform: translateY(2rem);
        opacity: 0;
    }

    25% {
        transform: translateY(-0.5rem);
        opacity: 1;
    }

    30%, 75% {
        transform: translateY(0rem);
        opacity: 1;
    }


}

/* ===== Game Area ===== */

#game-area {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 12rem 0 5rem;
    overflow: hidden;
}

/* ===== Card ===== */

.card {
    height: 250px;
    aspect-ratio: 1/1.4;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 0, 0, 0);
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), scale 0.15s ease, border 0.15s ease;
}

.card:hover {
    border: 5px solid red;
    scale: 1.05;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

}

/* ===== Remove Card animation ===== */

.card.remove {
    animation: shrink 0.3s cubic-bezier(0.68, -0.75, 0.27, 1.55) forwards;

}

@keyframes shrink {
    from {
        scale: 1;
    }

    to {
        scale: 0;
    }
}

/* ===== End Screen ===== */

#end-screen {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100%;
}

#end-screen h1 {
    font-size: 3rem;
}

.results-container {
    display: flex;
    align-items: center;
    border: 2px solid white;
    width: 30%;
    border-radius: 1rem;
    position: relative;
}

.final-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex: 1;
}

.final-white-line {
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: white;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.end-wrapper {
    font-size: 3rem;
    font-family: var(--primary-font);
    font-weight: 600;

}

/* ==================== RESPONSIVE DESIGN ====================  */

@media (max-width: 768px) {
    .card {
        height: 120px;
        border-radius: 5px;
    }

    .results-container {
        flex-wrap: wrap;
        width: 70%;
    }

    .final-container {
        min-width: 200px;
    }

    .final-white-line {
        display: none;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            font-size: 0.7rem;
        }

        to {
            opacity: 1;
            font-size: 1rem;
        }
    }
}